body{
    margin: 0;
    background-color: whitesmoke;
}

header{
    display: flex;
    align-items: center;
    background-color: black;
    height: 50px;
}

.menu-hamburguer{
    display: flex;
    cursor: pointer;
    flex-direction: column;
    height: 30px;
    justify-content: space-around;
    width: 30px;
}
nav{
    background-color: coral;
    display: flex;
    justify-content: space-around;
    transform: translateY(-100%);
    transition: .8s ease-out;
    position: relative;
    z-index: -1;

}
span{
    background-color: whitesmoke;
    display: block;
    height: 2px;
    width: 30px;
}
.traco-1, .traco-3{
    transform-origin: right center;
}
.ativo .traco-1{
    transform: rotateZ(-45deg);
}

.ativo .traco-2{
    opacity: 0;
}

.ativo .traco-3{
    transform: rotate(45deg);
}
.visivel{
    transform: translateY(0);
}